/** --------------------------------------------------------------
 * Book
 */


.htmlform {
    & label {
        display: inline-block;
    }

    & p {
        margin: 0;
    }
}

input[type=submit].delete {
    background: @lightRed;
}
